.DS_Store
__pycache__/
*.pyc
.firmament/
.gradle/
.gradle-home/
.gradle-user-home/
.toolchains/
build/
run/
run-standalone/
release/
/config/
logs/
mods/
references/
*.jar
*.zip
crash-reports/
!gradle/wrapper/gradle-wrapper.jar

/website/
/wiki/
